
class1_week4/.idea/class1_week4.iml
class1_week4/.idea/inspectionProfiles/profiles_settings.xml
class1_week4/.idea/inspectionProfiles/Project_Default.xml
class1_week4/.idea/misc.xml
class1_week4/.idea/modules.xml
class1_week4/.idea/workspace.xml
class1_week4/__pycache__/dnn_app_utils_v2.cpython-36.pyc
class1_week4/__pycache__/dnn_utils_v2.cpython-36.pyc
class1_week4/__pycache__/testCases_v2.cpython-36.pyc
class2_week1-2/.ipynb_checkpoints/1.Initialization-checkpoint.ipynb
class2_week1-2/.ipynb_checkpoints/2.Regularization-checkpoint.ipynb
class2_week1-2/.ipynb_checkpoints/3.Gradient+Checking-checkpoint.ipynb
class2_week1-2/__pycache__/init_utils.cpython-36.pyc
class2_week1-2/__pycache__/reg_utils.cpython-36.pyc
class2_week1-2/__pycache__/testCases.cpython-36.pyc
class2_week3/.ipynb_checkpoints/Tensorflow+Tutorial-checkpoint.ipynb
class2_week3/__pycache__/tf_utils.cpython-36.pyc
class2_week3/datasets/test_catvnoncat.h5
class2_week3/datasets/test_signs.h5
class2_week3/datasets/test_signs_1(1).h5
class2_week3/datasets/test_signs_2.h5
class2_week3/datasets/test_signs_3.h5
class2_week3/datasets/train_catvnoncat.h5
class2_week3/datasets/train_signs.h5
class2_week3/datasets/train_signs_1.h5
class2_week3/datasets/train_signs_2.h5
class2_week3/datasets/train_signs_3.h5
